.texts {
    position: relative;
    float: left;
    margin: 10px;
}
.texts img{
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

.texts .ability{
    position: absolute;
    bottom: 0px;
    color:red;
}
.sub {
    background-color: rgb(3, 79, 3);
    color: white;
    width: 1000px;
    height: 50px;
    float: left;
    margin: 10px;
    border-radius: 5px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.sub button{
    background-color: green;
    color: white;
    border: none;
}
.front {
    background-color: rgb(3, 79, 3);
    color: white;
    width: 1050px;
    height: 100px;
    float: left;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: smaller;

}
